.app-header {
    position: relative;
    display: flex;
    height: 60px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid rgb(232, 232, 232);
    padding: 0 $gutter;
    position: sticky;
    justify-content: center;
    align-items: center;
    
    &__back {
        position: absolute;
        left: $gutter;
        background-color: transparent;
        display: flex;
        border: 0;
    }
}