.app-header {
    position: relative;
    display: flex;
    height: 60px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid rgb(232, 232, 232);
    padding: 0 $gutter;
    position: sticky;
    justify-content: center;
    align-items: center;
    
    &__back {
        position: absolute;
        left: $gutter;
        background-color: transparent;
        display: flex;
        border: 0;
        display: flex;
        align-items: center;
        font-size: 16px;
        color: rgb(179, 154, 92);

        i {
            vertical-align: bottom;
        }

        &:focus {
            outline: 0; // I know it's bad todo :))
        }
        
        &:hover {
            cursor: pointer
        }
    }
    
    &__center {
        display: flex;
        font-size: 24px;
        font-weight: bold;
    }
}